<nav>
    <div class="website-name">
        <h2 class="websiteName">KFUMEX</h2>
    </div>

    <ul>
        <li><a href="/index/admin">Home</a></li>
        <li><a href="/reports">reports</a></li>
    </ul>

    <div class="dropdown">
        <button>My Account</button>
        <div class="dropdown-content">
          <p class="dropItems"><a href="/index/log-out">log out</a></p>
        </div>
      </div>
</nav>
