
<nav>
    <div class="website-name">
        <h2 class="websiteName">KFUMEX</h2>
    </div>
    
    <div>
        <button class="headerLogInButton"><a href="/logIn">Log In</a></button>
        <button class="headerSignUpButton"><a href="/signUp">Sign Up</a></button>        
    </div>
</nav>
