

<nav>
    <div class="website-name">
        <h2 class="websiteName">KFUMEX</h2>
    </div>

    <ul>
        <li><a href="/">Track</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/send">Send</a></li>
    </ul>

    <div class="dropdown">
        <button>My Account</button>
        <div class="dropdown-content">
          <p class="dropItems"><a href="">My profile</a></p>
          <p class="dropItems"><a href="">log out</a></p>
        </div>
      </div>
</nav>

