
*{
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #323031;
    display: grid;
    place-items: center;
    min-height: 100vh;
    
}

.log-in-containor{
    /* display: flex;
    justify-content: center; */
    align-items: center;
    margin: auto;
    background-color: #E5E5E5;
    width: 432px;
    border-radius: 10px; 
    padding: 20px;
}

.log-in-text{
    text-align: center;
}

input{
    background-color: #E5E5E5;
    width: 100%;
    border: 0;
    border-bottom: 3px solid black;
}



