*{
    font-family: 'Lato', sans-serif;
}

:root{
    --yellow : #FFC857;
    --dark-yellow : #ffbb33;
    --red: #c5283d;
    --white: #ffffff;
    --light-white: #cdcdcd;
} 

body{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.878);
    background-image: url("/images/home-img.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */ 
}

header{
    display: flex;
    align-items: center;
    background-color: rgba(237, 235, 235, 0.25);
}

.website-name{
    margin-right: auto;
}

header button{
    margin: 1em;
    width: 150px;
    text-align: center;
    font-weight: 800;
    padding: 8px 16px;
    margin-top: 2em;
    border-radius: 10px;
    border: 0;
    background-color: var(--yellow);
}

header h2{
    margin-left: 2em;
    color: var(--white);
}

.track-containor{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#track-input{
    width: 600px;
    height: 86px;
    background: rgba(237, 237, 233, 0.9);
    border-radius: 20px;
    outline: none;
    font-size: 1.5rem;
    padding-left: 20px;
}

#track-input::placeholder{
    font-size: 1.5rem;
    padding-left: 4em;
}

.track-button{
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 32px;
    margin-top: 2em;
    border-radius: 10px;
    border: 0;
    transform: translateX(-130px);
    background-color: var(--yellow);
}

.track-results{
    width: 20%;
    background-color: var(--light-white);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

hr{
    border-color: black;
}

.from-to > p{
    font-size: 1.5rem;
    padding-left: 1em;
}

.results{
    background-color: var(--white);
}



