
:root{
    --yellow : #FFC857;
    --dark-yellow : #ffbb33;
    --red: #c5283d;
    --white: #ffffff;
    --light-white: #cdcdcd;
    --body-color: #323031
}

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--body-color);
}

header{
    background-color: rgba(237, 235, 235, 0.25);
}

nav{
    display: flex;
    align-items: center;
}

li, a{
    display: inline;
    text-decoration: none;
    font-size: 2rem;
    color: var(--yellow);
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark-yellow);
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left: 5px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropItems a{
    color: black;
    font-size: 1rem;
}

.website-name{
    margin-right: auto;
}

header button{
    margin: 1em;
    width: 150px;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    width: 200px;
    padding: 8px 16px;
    margin-top: 2em;
    border-radius: 10px;
    border: 0;
    background-color: var(--yellow);
}

button a{
    color: black;
    font-size: 1.5rem;
}

h1{
    color: var(--white);
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
}

h2{
    color: var(--white);
    margin-left: 1em;
}



.track-containor{
    display: flex;
    justify-content: center;
}

#track-search-input{
    display: block;
    width: 600px;
    height: 86px;
    background: rgba(237, 237, 233, 0.9);
    border-radius: 20px;
    outline: none;
    font-size: 1.5rem;
    padding-left: 20px;
    margin-bottom: 2em;
}

select{
    display: block;
    color: var(--white);
    background-color: var(--body-color);
    width: 100%;
    font-size: 1.5rem;
    border: 0;
    border-bottom: 3px solid #cdcdcd;
    padding: 2px;
    margin-bottom: 2em;
    outline: none;
}

button{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 2em;
    border-radius: 4px;
    border: 0;
    background-color: var(--yellow);
}



