<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/index.css">
    <title>Home</title>
</head>
<body>

    <header>
        <div class="website-name">
            <h2 class="websiteName">KFUMEX</h2>
        </div>

        <div>
            <button class="headerLogInButton">Log In</button>
            <button class="headerSignUpButton">Sign Up</button>        
        </div>
    </header>


    <div class="track-containor">
        <form action="">
            <input type="text" name="track-input" id="track-input" placeholder="track your shippment">
            <button class="track-button">Track</button>
        </form>
    </div>
    
    <div class="track-results">
        <div class="from-to">
            <p class="sender">From: </p>
            <hr>
            <p class="reciver">To: </p>
            <hr>
        </div>

        <div class="results">
            <ul>
                <li></li>
            </ul>
        </div>

    </div>


    
</body>
</html>