<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/search.css">
    <title>search</title>
</head>
<body>

    
    <header>
        <% if (typeof user != 'undefined') { %>
            <%- include("./partials/userHeader.ejs") %> 
        <% } else {%>
            <%- include("./partials/header.ejs") %> 
        <% } %> 
    </header>

    <h1>Advanced Search</h1>


    <div class="search-containor">
        <form action="/search/results" method="post">
            <input type="text" name="searchedBarcode" id="track-search-input" placeholder="Search by package ID">

            <select id="catagory" name="searchedCatagory" class="catagory">
                <option>Select catagory</option>
                <option value="chemical">Chemical</option>
                <option value="liquid">Liquid</option>
                <option value="fragile">Fragile</option>
                <option value="regular">Regular</option>
            </select>

            <select id="searched-city" name="searchedCity" class="searched-city">
                <option>Select City</option>
                <option value="RY">Riyadh</option>
                <option value="JE">Jeddah</option>
                <option value="ME">Mecca</option>
                <option value="DM">Dammam</option>
                <option value="DH">Dahran</option>
                <option value="SF">Safwa</option>
                <option value="QF">Qatif</option>
                <option value="AB">Abha</option>
            </select>

            <select id="seached-state" name="searchedState" class="seached-state">
                <option>Select a State</option>
                <option value="delivered">Delivered</option>
                <option value="lost">Lost</option>
                <option value="avaliable">Avaliable</option>
                <option value="in-transit">In transit</option>
            </select>

            <select id="seached-state-condition" name="searchedCondition" class="seached-state-condition">
                <option>Select the package condition</option>
                <option value="damaged">damaged</option>
                <option value="delayed">delayed</option>
            </select>

            <button class="searchButton">Search</button>
            
        </form>
    </div>

    <section class="results">
        <ul>
            <li>package1 <button class="liTrack">Track</button></li>
            <li>package2</li>
            <li>package3</li>
            <li>package4</li>
        </ul> 
        
        <button class="backButton">Back</button>  
    </section>

    <script src="/js/search.js"></script>
</body>
</html>