<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/search.css">
    <title>search</title>
</head>
<body>
    <h1>Advanced Search</h1>


    <div class="track-containor">
        <form action="">
            <input type="text" name="track-search-input" id="track-search-input" placeholder="Search by package ID">

            <select id="catagory" name="catagory" class="catagory">
                <option>Select catagory</option>
                <option value="chemical">Chemical</option>
                <option value="liquid">Liquid</option>
                <option value="fragile">Fragile</option>
                <option value="regular">Regular</option>
            </select>

            <select id="searched-city" name="city" class="searched-city">
                <option>Select City</option>
                <option value="RY">Riyadh</option>
                <option value="JE">Jeddah</option>
                <option value="ME">Mecca</option>
                <option value="DM">Dammam</option>
                <option value="DH">Dahran</option>
                <option value="SF">Safwa</option>
                <option value="QF">Qatif</option>
                <option value="AB">Abha</option>
            </select>

            <select id="seached-state" name="state" class="seached-state">
                <option>Select a State</option>
                <option value="delivered">Delivered</option>
                <option value="lost">Lost</option>
                <option value="avaliable">Avaliable</option>
                <option value="in-transit">In transit</option>
            </select>

            <select id="seached-state-condition" name="state" class="seached-state-condition">
                <option>Select the package condition</option>
                <option value="damaged">damaged</option>
                <option value="delayed">delayed</option>
            </select>

            <button>Search</button>
            
        </form>
    </div>



</body>
</html>