<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/search.css">
    <title>search</title>
</head>
<body>

    
    <header>
        <% if (typeof user != 'undefined') { %>
            <%- include("./partials/userHeader.ejs") %> 
        <% } else {%>
            <%- include("./partials/header.ejs") %> 
        <% } %> 
    </header>

    <h1>Advanced Search</h1>


    <div class="search-containor">
        <form action="/search/results" method="post">
            <input type="text" name="searchedBarcode" id="track-search-input" placeholder="Search by package ID">

            <select id="catagory" name="searchedCatagory" class="catagory">
                <option value="">Select catagory</option>
                <option value="CHEMICAL">Chemical</option>
                <option value="Liquid">Liquid</option>
                <option value="FRAGILE">Fragile</option>
                <option value="REGULAR">Regular</option>
            </select>

            <select id="searched-city" name="searchedCity" class="searched-city">
                <option value="">Select City</option>
                <option value="Riyadh">Riyadh</option>
                <option value="Jeddah">Jeddah</option>
                <option value="Mecca">Mecca</option>
                <option value="Dammam">Dammam</option>
                <option value="Dharan">Dahran</option>
                <option value="safwa">Safwa</option>
                <option value="Qatif">Qatif</option>
                <option value="Abha">Abha</option>
            </select>

            <select id="seached-state" name="searchedState" class="seached-state">
                <option value="">Select a State</option>
                <option value="delivered">Delivered</option>
                <option value="lost">Lost</option>
                <option value="avaliable">Avaliable</option>
                <option value="in-transit">In transit</option>
            </select>

            <select id="seached-state-condition" name="searchedCondition" class="seached-state-condition">
                <option value="">Select the package condition</option>
                <option value="DAMAGED">damaged</option>
                <option value="DELAYED">delayed</option>
            </select>

            <button class="searchButton">Search</button>
            
        </form>
    </div>

</body>
</html>