<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
    <title>Sign In</title>
</head>
<body>
    <div class="log-in-containor">

        <div class="test">
            <h2 class="log-in-text sign-up-header">Sign Up</h2>

            <!-- This form may need a revision in the future -->
            <form action="" method="post" name="Sign Up">
                <label class="email-text input-label" for="email">Email <br></label>
                <input type="email" name="email" id="signUp-email" class="email-input user-input">
            
                <br>
            
                <label class="first-name-text" for="first-name-text">First Name <br></label>
                <input type="text" name="first-name-text" id="name" class="name-input user-input">

                <br>

                <label class="last-name-text" for="last-name-text">Last Name <br></label>
                <input type="text" name="last-name-text" id="name" class="name-input user-input">

                <br>
            
                <label class="password-text input-label" for="password">Password <br></label>
                <input type="password" name="password" id="signUp-password" class="password-input user-input">
            
                <br>

                <button class="log-in-button">Next</button>

            </form>          
        </div>
    </div>

    
</body>
</html>